<script>
	import '../app.css';
	import logo from '$lib/images/letter-j.png';
	import avatar from '$lib/images/avatar.jpg';
</script>

<nav class="bg-teal-800">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-16 items-center justify-between">
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex flex-shrink-0 items-center">
					<img class="rounded-xl block h-8 w-auto lg:hidden" src={logo} alt="Jiraboon" />
					<img class="rounded-xl hidden h-8 w-auto lg:block" src={logo} alt="Jiraboon" />
				</div>
			</div>
			<div
				class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
			>
				<div class="relative ml-3">
					<img class="h-8 w-8 rounded-full" src={avatar} alt="Avatar" />
				</div>
			</div>
		</div>
	</div>
</nav>

<header class="bg-white shadow">
	<div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
		<h1 class="text-3xl font-bold tracking-tight text-gray-900">Vegetarian Classifier</h1>
	</div>
</header>
<main>
	<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
		<slot />
	</div>
</main>
